<%inherit file="base.html"/>
<%block name="title">Index</%block>
<%block name="main">
<div id="container">
    <h2>Index</h2>
    %if not current_user:
    <a href="/login" class="btn btn-primary">login or signup</a>
    %elif current_user == 'superadmn':
    welcome ${current_user}!<a href="/logout">logout</a>
    ${hint_info}

    %for user in all_user:
        ${user.name}<a href="/admin?name=${user.name}">DEL</a>
    %endfor

    %for proj in all_proj:
        ${proj.name},${proj.url}<a href="/admin?panme= ${proj.name}">${'turn off' if proj.status else 'Turn on' }</a>
    %endfor

    <form method="POST">
        ${xsrf_form_html()}
        <label>upload data name:</label>
        <input type="text" name="name" />
        <input type="'text" name="url" />
        <input type="submit" name="submit" value="submit" />
    </form>


     %endif
</div>
</%block>
